/* Minimale Breite der Buttons. Zentrierte Ausrichtung der Schrift */
.ipsCategory > .container .content .visual > .enum > div, 
.ipsCategory > .container .content .visual > .selector > div, 
.ipsCategory > .container .extended > .textBox > div {
	min-width: 50px;
	text-align: center; 
}

.ipsWebFront {
	background-color: #555555;
}

.ipsTabPane > .navigation ,
.ipsContentChanger > .navigation {
	background-color: #111111;
}

.ipsChart,
.ipsChartDialog .content .ipsContainer {
  -webkit-animation-name: none !important;
  -moz-animation-name: none !important;
  -ms-animation-name: none !important;
  animation-name: none !important;
}